@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-primary bg-gray-200;
  }
  .dropdown {
    @apply w-full lg:max-w-[296px] cursor-pointer;
  }
  .dropdown-btn {
    @apply flex h-[64px] items-center px-[18px] border rounded-lg;
  }
  .dropdown-icon-primary {
    @apply text-2xl mr-[18px] text-violet-700;
  }
  .dropdown-icon-secondary {
    @apply text-2xl text-violet-700 ml-auto;
  }
  .dropdown-menu {
    @apply px-6 py-8 text-[15px] space-y-6 shadow-md bg-white absolute w-full z-10 list-none rounded-b-lg;
  }
}

.requestedProperties{
  padding:5px 20px;
  border-radius: 20px;
  color:#fff;
  background-color: #2E86AB;
}
.requestedProperties:hover{
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}
.requestedPropertiesRespondBtn{
  background-color: #C64C7B;
}
.registerSectionImg{
  border-radius: 60px 20px 60px 20px; 
}
.bannerImg{
  box-shadow: 0 10px 20px rgba(0,0,0,0.05);
}
.whyChooseImg{
  width: 180px;
  height:auto;
  object-fit: cover;
  margin-bottom: 20px;
  border-radius: 30px 10px 30px 10px;
}
.back-edit-add-btn {
  position: absolute;
  top:4%;
  left:20%;
  width:30px;
  cursor: pointer;
}
/* Mobile: Adjust position */
@media (max-width: 1440px) {
 
.bannerHeading{
  font-size: 37px !important;
}
}

/* Mobile: Adjust position */
@media (max-width: 767px) {
  .back-edit-add-btn {
    top:25%;
    left:10% !important;
    font-size: 20px;
  }
}
